Travel_Chatbot/model_bk/
Travel_Chatbot/test_bk/

Travel_Chatbot/model/fasttext/*.npy
Travel_Chatbot/model/original/
Travel_Chatbot/model/entity_bk/
Travel_Chatbot/model/entity/
Travel_Chatbot/model/intent/**
!Travel_Chatbot/model/intent/.intent_model-5400.h5


Travel_Chatbot/src/util/chatdb.py
Travel_Chatbot/src/util/intentdb.py
Travel_Chatbot/src/util/logindb.py
Travel_Chatbot/src/util/signupdb.py
